@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: oklch(0.8779 0.0458 57.4463);
  --code-bg: #f4f3ec;
  --accent: oklch(0.8088 0.1031 40.7173);
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: 0 1px 12px 0px hsl(330 3.2258% 12.1569% / 0.08), 0 1px 2px -1px hsl(330 3.2258% 12.1569% / 0.08);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  --background: oklch(0.9592 0.0288 72.4798);

  --foreground: oklch(0.2376 0.0036 345.5321);

  --card: oklch(0.9772 0.0175 73.0800);

  --card-foreground: oklch(0.2376 0.0036 345.5321);

  --popover: oklch(0.9772 0.0175 73.0800);

  --popover-foreground: oklch(0.2376 0.0036 345.5321);

  --primary: oklch(0.6559 0.2328 34.5244);

  --primary-foreground: oklch(0.9592 0.0288 72.4798);

  --secondary: oklch(0.8088 0.1031 40.7173);

  --secondary-foreground: oklch(0.2376 0.0036 345.5321);

  --muted: oklch(0.9123 0.0411 57.7318);

  --muted-foreground: oklch(0.4587 0.0475 41.4386);

  --accent-foreground: oklch(0.2376 0.0036 345.5321);

  --destructive: oklch(0.6559 0.2328 34.5244);

  --input: oklch(0.9772 0.0175 73.0800);

  --ring: oklch(0.6559 0.2328 34.5244);

  --chart-1: oklch(0.6559 0.2328 34.5244);

  --chart-2: oklch(0.8088 0.1031 40.7173);

  --chart-3: oklch(0.2376 0.0036 345.5321);

  --chart-4: oklch(0.7258 0.1782 43.1890);

  --chart-5: oklch(0.8645 0.0660 46.9622);

  --radius: 0.5rem;

  --sidebar: oklch(0.9722 0.0209 72.1551);

  --sidebar-foreground: oklch(0.2376 0.0036 345.5321);

  --sidebar-primary: oklch(0.6559 0.2328 34.5244);

  --sidebar-primary-foreground: oklch(0.9592 0.0288 72.4798);

  --sidebar-accent: oklch(0.9123 0.0411 57.7318);

  --sidebar-accent-foreground: oklch(0.2376 0.0036 345.5321);

  --sidebar-border: oklch(0.8779 0.0458 57.4463);

  --sidebar-ring: oklch(0.6559 0.2328 34.5244);

  --destructive-foreground: oklch(0.9592 0.0288 72.4798);

  --font-sans: "Amaranth", ui-sans-serif, sans-serif, system-ui;

  --font-serif: "Noto Serif", ui-serif, serif;

  --font-mono: "JetBrains Mono", "Courier New", monospace;

  --shadow-color: #201e1f;

  --shadow-opacity: 0.08;

  --shadow-blur: 12px;

  --shadow-spread: 0px;

  --shadow-offset-x: 0;

  --shadow-offset-y: 1px;

  --letter-spacing: 0em;

  --spacing: 0.25rem;

  --shadow-2xs: 0 1px 12px 0px hsl(330 3.2258% 12.1569% / 0.04);

  --shadow-xs: 0 1px 12px 0px hsl(330 3.2258% 12.1569% / 0.04);

  --shadow-sm: 0 1px 12px 0px hsl(330 3.2258% 12.1569% / 0.08), 0 1px 2px -1px hsl(330 3.2258% 12.1569% / 0.08);

  --shadow-md: 0 1px 12px 0px hsl(330 3.2258% 12.1569% / 0.08), 0 2px 4px -1px hsl(330 3.2258% 12.1569% / 0.08);

  --shadow-lg: 0 1px 12px 0px hsl(330 3.2258% 12.1569% / 0.08), 0 4px 6px -1px hsl(330 3.2258% 12.1569% / 0.08);

  --shadow-xl: 0 1px 12px 0px hsl(330 3.2258% 12.1569% / 0.08), 0 8px 10px -1px hsl(330 3.2258% 12.1569% / 0.08);

  --shadow-2xl: 0 1px 12px 0px hsl(330 3.2258% 12.1569% / 0.20);

  --tracking-normal: 0em}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Amaranth", ui-sans-serif, sans-serif, system-ui;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --font-mono: "JetBrains Mono", "Courier New", monospace;
  --font-serif: "Noto Serif", ui-serif, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

.dark {
  --background: oklch(0.2376 0.0036 345.5321);
  --foreground: oklch(0.9592 0.0288 72.4798);
  --card: oklch(0.2763 0.0048 355.0805);
  --card-foreground: oklch(0.9592 0.0288 72.4798);
  --popover: oklch(0.2763 0.0048 355.0805);
  --popover-foreground: oklch(0.9592 0.0288 72.4798);
  --primary: oklch(0.6559 0.2328 34.5244);
  --primary-foreground: oklch(0.9592 0.0288 72.4798);
  --secondary: oklch(0.8088 0.1031 40.7173);
  --secondary-foreground: oklch(0.2376 0.0036 345.5321);
  --muted: oklch(0.3277 0.0087 6.1305);
  --muted-foreground: oklch(0.8121 0.0458 58.3006);
  --accent: oklch(0.8088 0.1031 40.7173);
  --accent-foreground: oklch(0.2376 0.0036 345.5321);
  --destructive: oklch(0.6559 0.2328 34.5244);
  --border: oklch(0.3613 0.0128 25.3155);
  --input: oklch(0.2763 0.0048 355.0805);
  --ring: oklch(0.6559 0.2328 34.5244);
  --chart-1: oklch(0.6559 0.2328 34.5244);
  --chart-2: oklch(0.8088 0.1031 40.7173);
  --chart-3: oklch(0.9592 0.0288 72.4798);
  --chart-4: oklch(0.7258 0.1782 43.1890);
  --chart-5: oklch(0.8645 0.0660 46.9622);
  --sidebar: oklch(0.2161 0.0037 345.5805);
  --sidebar-foreground: oklch(0.9592 0.0288 72.4798);
  --sidebar-primary: oklch(0.6559 0.2328 34.5244);
  --sidebar-primary-foreground: oklch(0.9592 0.0288 72.4798);
  --sidebar-accent: oklch(0.3277 0.0087 6.1305);
  --sidebar-accent-foreground: oklch(0.9592 0.0288 72.4798);
  --sidebar-border: oklch(0.3613 0.0128 25.3155);
  --sidebar-ring: oklch(0.6559 0.2328 34.5244);
  --destructive-foreground: oklch(0.9592 0.0288 72.4798);
  --radius: 0.5rem;
  --font-sans: "Amaranth", ui-sans-serif, sans-serif, system-ui;
  --font-serif: "Noto Serif", ui-serif, serif;
  --font-mono: "JetBrains Mono", "Courier New", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.3;
  --shadow-blur: 14px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 14px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0 1px 14px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0 1px 14px 0px hsl(0 0% 0% / 0.30), 0 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0 1px 14px 0px hsl(0 0% 0% / 0.30), 0 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0 1px 14px 0px hsl(0 0% 0% / 0.30), 0 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0 1px 14px 0px hsl(0 0% 0% / 0.30), 0 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0 1px 14px 0px hsl(0 0% 0% / 0.30), 0 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0 1px 14px 0px hsl(0 0% 0% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;}
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);}
  html {
    @apply font-sans;}}